<!DOCTYPE html>
<html>
<head>
    <title>Audio Controlled Fan / Light</title>
</head>
<body>

<h2>Upload Audio File (.wav)</h2>

<form action="/predict" method="post" enctype="multipart/form-data">
    <input type="file" name="audio" required>
    <br><br>
    <button type="submit">Check Sound</button>
</form>

{% if prediction %}
    <h3>Result: {{ prediction }}</h3>

    <h4>Extracted Audio Features</h4>
    <ul>
        {% for key, value in features.items() %}
            <li>{{ key }} : {{ value }}</li>
        {% endfor %}
    </ul>
{% endif %}

</body>
</html>
